
		
<h1>Example</h1>

<div id="filesystem">
	
</div>

<form action="/download" method="post" enctype="multipart/formdata">
	<input type="text" name="downloadFile" id="dlField" readonly>
	<input type="submit" value="Download">
</form>

<div class="upload-section">
	<form action="/upload" method="post" enctype="multipart/form-data">
		<input type="file" name="uploadedFile">
		<input type="submit" value="Upload">
	</form>
</div>

<div class="delete-section">
	<form action="/delete" method="post" enctype="multipart/form-data">
		<input type="text" name="deleteFile" id="delField" readonly>
		<input type="submit" value="Delete">
	</form>
</div>